input, button {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2em;
}

input {
  width: 35%;
}

button {
  background-color: #25d;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2em;
}

ul {
  background-color: #eee;
  margin: 10px;
  padding: 5px;
  list-style-type: none;
}

li {
  margin: 10px;
  padding: 5px;
  background-color: #fff;
  font-size: 1.2em;
}